In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
df = pd.read_csv("/content/drive/MyDrive/ML sem4/Titanic-Dataset.csv")
print("Basic Dataset Information")
print("------------")
print("Number of Rows :",df.shape[0])
print("Number of Columns :",df.shape[1])
print("\nMissing Values per column :")
print(df.isnull().sum())

Basic Dataset Information
------------
Number of Rows : 891
Number of Columns : 12

Missing Values per column :
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df['Age']=df['Age'].fillna(df['Age'].median())
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])
irr_cols=['PassengerId','Name','Ticket','Cabin']
df.drop(columns=irr_cols,inplace=True)
print("\nMissing Values per column :")
print(df.isnull().sum())

Missing Values per column :
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [ ]:
Q1=df['Fare'].quantile(0.25)
Q3=df['Fare'].quantile(0.75)
IQR=Q3-Q1
lb=Q1-1.5*IQR
ub=Q3+1.5*IQR
print("Lower Bound:",lb)
print("Upper Bound:",ub)
outliers=df[(df['Fare']<lb)|(df['Fare']>ub)]
print("Number of outliers in Fare:",outliers.shape[0])
df['Fare']=np.where(df['Fare']<lb,lb,df['Fare'])
df['Fare']=np.where(df['Fare']>ub,ub,df['Fare'])

Lower Bound: -26.724
Upper Bound: 65.6344
Number of outliers in Fare: 116

In [ ]:
from sklearn.preprocessing import LabelEncoder
df=pd.get_dummies(df,columns=['Sex','Embarked'],drop_first=True)
lable_encoder=LabelEncoder()
categorical_cols=df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col]=lable_encoder.fit_transform(df[col])

In [ ]:
x=df.drop('Survived',axis=1)
y=df['Survived']
x_train,x_temp,y_train,y_temp=train_test_split(x,y,test_size=0.30,random_state=42,stratify=y)
x_val,x_test,y_val,y_test=train_test_split(x_temp,y_temp,test_size=0.50,random_state=42,stratify=y_temp)
print("\nDataset Split Shapes")
print("------------")
print("Training Set:",x_train.shape,y_train.shape)
print("Validation Set:",x_val.shape,y_val.shape)
print("Testing Set:",x_test.shape,y_test.shape)

Dataset Split Shapes
------------
Training Set: (623, 8) (623,)
Validation Set: (134, 8) (134,)
Testing Set: (134, 8) (134,)